/* region Conteúdo */

  /* ########## Sobre a Bisafe ########## */
  .home{
    margin-top: 15rem;
    margin-left: -3rem;
  }

  #welcome{
    font-size: 1.05rem;
  }

  #bem_vindo{
    display: flex;
    float: left;
    margin-top: 4rem;
    font-size: 3.5rem;
    margin-left: 20rem;
    color: #38B6FF;
  }

  #security{
    display: flex;
    float: left;
    margin-top: 6rem;
    margin-left: -35rem;
    font-size: 30px;

  }

  #know{
    margin-top: 15rem;
    margin-left: -25rem;
    display: flex;
    float: left;
  }

  .btn-53,
  .btn-53 *,
  .btn-53 :after,
  .btn-53 :before,
  .btn-53:after,
  .btn-53:before {
    border: 0 solid;
    box-sizing: border-box;
  }
  
  .btn-53 {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 75%;
    line-height: 0.1;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    display: flex;
    float: left;
    margin-top: 22rem;
    margin-left: -41rem;
    height: 48px;
    width: 192px;
  }
  
  .btn-53:disabled {
    cursor: default;
  }
  
  .btn-53:-moz-focusring {
    outline: auto;
  }
  
  .btn-53 svg {
    display: block;
    vertical-align: middle;
  }
  
  .btn-53 [hidden] {
    display: none;
  }
  
  .btn-53 {
    border: 1px solid;
    border-radius: 999px;
    box-sizing: border-box;
    display: block;
    font-weight: 900;
    overflow: hidden;
    padding: 1.2rem 3rem;
    position: relative;
    text-transform: uppercase;
  }
  
  .btn-53 .original {
    background: #fff;
    color: #000;
    display: grid;
    inset: 0;
    place-content: center;
    position: absolute;
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
  }
  
  .btn-53:hover .original {
    transform: translateY(100%);
  }
  
  .btn-53 .letters {
    display: inline-flex;
  }
  
  .btn-53 span {
    opacity: 0;
    transform: translateY(-15px);
    transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
  }
  
  .btn-53 span:nth-child(2n) {
    transform: translateY(15px);
  }
  
  .btn-53:hover span {
    opacity: 1;
    transform: translateY(0);
  }
  
  .btn-53:hover span:nth-child(2) {
    transition-delay: 0.1s;
  }
  
  .btn-53:hover span:nth-child(3) {
    transition-delay: 0.2s;
  }
  
  .btn-53:hover span:nth-child(4) {
    transition-delay: 0.3s;
  }
  
  .btn-53:hover span:nth-child(5) {
    transition-delay: 0.4s;
  }
  
  .btn-53:hover span:nth-child(6) {
    transition-delay: 0.5s;
  }
  
  .bike_photos{
    display: flex;
    float: left;
    width: 39px;
    margin-left: 9rem;
    margin-top: -9rem;
    height: 650px;
    
  }

  .partners{
    display: inline;
    float: left;
    margin-left: -15rem;
    margin-top: 37rem;
  }

  #microsoft{
    margin-left: -25rem;
    margin-top: 0.5rem;
    height: 130px;
  }
  #porto{
    margin-left: -5rem;
    height: 130px;
  }
  #ibm{
    margin-left: 13rem;
    margin-top: -2rem;
    height: 210px;
  }

  #about_bisafe{
    display: flex;
    float: left;
    font-size: 1.75rem;
    margin-left: -29.4rem;
    margin-top: 50rem;
  }

  #about_mission{
    display: flex;
    float: left;
    font-size: 1.3rem;
    margin-left: 23rem;
    margin-top: 5rem;
  }

  #bisafe{
    margin-left: 42.4rem;
    margin-top: -17rem;
    height: 92px;
    float: left;
    display: flex;
  }

  #bisafe_2{
    margin-left: 62rem;
    margin-top: -17rem;
    height: 92px;
    float: left;
    display: flex;
  }

  .line_container {
    position: relative;
  }
  
  .lines_about {
    position: relative;
    top: -11rem;
    left: 21rem;
    width: 79rem;
    height: 169px;
    border: 3px solid #38B6FF;
    border-radius: 50px;
    cursor: pointer;
    display: block;
    transition: all 0.3s linear;
    display: flex;
    float: left;
  }
  
  .hidden {
    display: none !important;
  }
  

  /* ########## end Sobre a Bisafe ########## */

  /* ########## Oferecemos ########## */

  /* Facilidade */

  .card_1 {
    width: 250px;
    height: 420px;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    float: left;
    display: flex;
    margin-top: 3rem;
    margin-left: -60rem;
  }

  #facility{
    display: flex;
    float: left;
    margin-top: 1rem;
    margin-left: 4rem;
    width: 8rem;
  }

  #facilidade{
    display: flex;
    float: left;
    margin-left: -8rem;
    margin-top: 9rem;
    color: #000;
  }

  #about_facility{
    display: flex;
    float: left;
    margin-top: 2.5rem;
    margin-left: 2rem;
    font-style: italic ;
    font-weight: bold;
    color: #000;
  }

  /* Agilidade */
  
  .card_2 {
    width: 250px;
    height: 420px;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    float: left;
    display: flex;
    margin-top: 3rem;
    margin-left: -34.5rem;
  }

  #agility{
    display: flex;
    float: left;
    margin-top: 0.2rem;
    margin-left: 3.5rem;
    width: 9.5rem;
  }
  
  #agilidade{
    display: flex;
    float: left;
    margin-top: -0.7rem;
    margin-left: 4.2rem;
    color: #000;
  }
  #about_agility{
    display: flex;
    float: left;
    margin-top: -1rem;
    margin-left: 2rem;
    font-style: italic ;
    font-weight: bold;
    color: #000;
  }

  /* Eficiência */

  .card_3 {
    width: 250px;
    height: 420px;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    float: left;
    display: flex;
    margin-top: 3rem;
    margin-left: -2rem;
  }

  #efficiency{
    display: flex;
    float: left;
    margin-top: 0.2rem;
    margin-left: 3rem;
    width: 9.5rem;
  }
  
  #eficiencia{
    display: flex;
    float: left;
    margin-top: -0.7rem;
    margin-left: 4.2rem;
    color: #000;
  }
  #about_efficiency{
    display: flex;
    float: left;
    margin-top: -1rem;
    margin-left: 2rem;
    font-style: italic ;
    font-weight: bold;
    color: #000;
  }
  /* Redução */

  .card_4 {
    width: 250px;
    height: 420px;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    float: left;
    display: flex;
    margin-top: 1rem;
    margin-left: 35.5rem;
  }

  #reduction{
    display: flex;
    float: left;
    margin-top: 0.2rem;
    margin-left: 3rem;
    width: 9.5rem;
  }
  
  #reducao{
    display: flex;
    float: left;
    margin-top: -0.7rem;
    margin-left: 4.2rem;
    color: #000;
  }
  #about_reduction{
    display: flex;
    float: left;
    margin-top: -1rem;
    margin-left: 2rem;
    font-style: italic ;
    font-weight: bold;
    color: #000;
  }
  /* Experiência */

  .card_5 {
    width: 250px;
    height: 420px;
    background: rgb(223, 225, 235);
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    float: left;
    display: flex;
    margin-top: 1rem;
    margin-left: 17rem;
  }

  #experience{
    display: flex;
    float: left;
    margin-top: 0.2rem;
    margin-left: 3rem;
    width: 8.5rem;
  }
  
  #experiencia{
    display: flex;
    float: left;
    margin-top: 0rem;
    margin-left: 4.2rem;
    color: #000;
  }
  #about_experience{
    display: flex;
    float: left;
    margin-top: -1.2rem;
    margin-left: 2rem;
    font-style: italic ;
    font-weight: bold;
    color: #000;
  }


  #corrente{
    display: flex;
    float: left;
    margin-left: -46.5rem;
    margin-top: 7rem;
    width: 25rem;
    height: 20rem;
  }
  #corrente2{
    display: flex;
    float: left;
    margin-left: -14rem;
    margin-top: 7rem;
    width: 20.5rem;
    height: 20rem;
  }
  #corrente3{
    display: flex;
    float: left;
    margin-left: -50rem;
    margin-top: 35rem;
    width: 20.5rem;
    height: 20rem;
  }

  /* Nossos Planos */

  #benefit{
    display: flex;
    float: left;
    margin-top: 6rem;
    margin-left: 55rem;
  }

  .benefits_line{
    position: relative;
    width: 5vw;
    float: left;
    margin-top: 9rem;
    margin-left: -8rem;
  }

  .card_ciclista {
    width: 400px;
    height: 450px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    float: left;
    margin-top: 15rem;
    margin-left: -33rem;
   }

   #title_ciclista{
    text-align: center;
    font-weight: bold;
   }

   .card_seguradora {
    width: 400px;
    height: 450px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
    float: left;
    margin-top: 15rem;
    margin-left: 2rem;
   }

   #title_seguradora{
    text-align: center;
    font-weight: bold;
   }
   
   

  
  /* endregion Conteúdo */
